@import url(https://fonts.googleapis.com/css?family=Audiowide);

.tech-slideshow {
  height: 300px;
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 200px;
  width: 2526px;
  background: url("/static/img/immeuble2.jpg");
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite;
}
.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}

body {
  padding-top: 70px;
}

header .navbar-brand {
  font-size: 1.4em;
  font-weight: 200;
  font-family: "Audiowide", cursive;
}

main .container {

}

.page-header {
  margin: 0;
}

.page-header h1 {
  margin: 0;
  font-weight: 100;
  font-size: 2em;
}

.no-data {
  text-align: center;
  padding: 1em 0;
}

#notifications {
  font-size: 1.5em;
  padding: 13px;
  color: #dddddd;
}

#notifications.new-notifications {
  color: #428bca;
}

.popover {
  max-width: 350px;
  width: 350px;
}

.popover ul {
  padding: 0;
  margin: 0;
}

.popover ul li {
  list-style: none;
  border-bottom: 1px solid #eeeeee;
  padding: .4em 0;
}

.popover ul li:last-child {
  border-bottom: none;
}

.popover ul li .user-picture {
  width: 45px;
  float: left;
}

.popover ul li p {
  font-size: .9em;
  padding: 0 0 0 .6em;
  margin-left: 45px;
  margin-bottom: 0;
}

.markdown {
  margin-bottom: .8em;
}
